<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Professor</title>
    <link rel="stylesheet" href="./css/AlterarCss.css">
</head>
<body>
    <h3>Alterar Professor</h3>

    <div id="form">
    <form action="" method="get"> <!-- OS DADOS TEM Q SER ENVIADO PARA ALGUM ARQUIVO, ELE DEVE SER INCLUIDO AQUI!-->

Nome do professor: </br>
<input type="text" nome="nome"> </br></br></br>

Data de nascimento:   </br>
<input type="date" nome="data"></br></br></br>

<input type="submit" nome="salvar" value="Salvar">

    </form>
</div>

</body>
</html>