<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Professor</title>
    <link rel="stylesheet" href="../css/AlterarCss.css">
</head>
<body>
    <h3>Alterar Professor</h3>

    <div id="form1">
        <!-- Corrigido o caminho do action para "/editar" e removida a variável professor.matricula -->
        <form action="/editar/<%=professor.matricula%>" method="post">


            <!-- Adicione um campo oculto para enviar a matrícula do professor -->
            <input type="hidden" name="matricula" value="<%= professor.matricula %>">

            Nome do professor: <br>
            <input type="text" name="nome"> <br><br><br>

            Data de nascimento: <br>
            <input type="date" name="data"><br><br><br>

            <input type="submit" name="salvar" value="Salvar">

        </form>
    </div>

</body>
</html>
