<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>excluir professor</title>
<link rel="stylesheet" href="./css/ExcluirCss.css">

</head>

<h3>Excluir Professor</h3>
<body>
    
<!--  essa tela so tem as marcações de onde fica os elementos, 
    pq é uma tela q precisa dos dados adicionado nos fomrularios, 
    porem o formulario ainda n funciona ent nao da p fazer 100% mas 
    ficaria meio assim quando pronto-->

    <div id="excluir">
<h4>  Nome do professor:</h4>
<p>aqui vai a variavel com o nome dele </p>  </br>

<h4 id="matricula"> Matrícula:</h4> 
<p>aqui vai no n° da matricula do rapaz </p> <br>

<h4>Data de Nascimento:</h4> 
<p id="TxtData">aqui vai a data </p> <br><br>


<input type="submit" name="bntExcluir" value="Clique aqui para excluir os dados!">
</div>

</body>
</html>